In [15]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [16]:
## Data prepare
# Reads the csv into panda
df=pd.read_csv("Resources/myopia.csv")
# Previews the DataFrame
df.head(3)

,AGE,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY,MYOPIC
0,6,-0.052,21.889999,3.690,3.498,14.70,45,8,0,0,10,34,1,1,1
1,6,0.608,22.379999,3.702,3.392,15.29,4,0,1,1,7,12,1,1,0
2,6,1.179,22.490000,3.462,3.514,15.52,14,0,2,0,10,14,0,0,0

In [17]:
# Removes the MYOPIC column from the dataset
df1=df.drop(labels='MYOPIC',axis=1)
df1.head(3)

,AGE,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY
0,6,-0.052,21.889999,3.690,3.498,14.70,45,8,0,0,10,34,1,1
1,6,0.608,22.379999,3.702,3.392,15.29,4,0,1,1,7,12,1,1
2,6,1.179,22.490000,3.462,3.514,15.52,14,0,2,0,10,14,0,0

In [21]:
# Standardises the dataset using a scaler
scaler = StandardScaler()
scaler.fit(df1)
# Names the resulting DataFrame X
X = scaler.transform(df1)